:root {
  --btn: hsl(55, 37%, 40%);
  --main: #fbeec1;
  --header-footer: #659dbd;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;

  height: 100%;
  margin: auto;
  background-color: var(--main);
  overflow-x: hidden;
}

.app-container {
  display: flex;
  align-items: center;
  flex-flow: column;
}

/* Header content: */
.header-container {
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 300px;
  padding-top: 60px;
}

.site-title {
  position: absolute;
  font-family: "Yellowtail", cursive;
  text-align: center;
  font-size: 92px;
}

#chef-hat {
  position: absolute;
  height: 70px;
  width: 60px;
  transform: scaleX(-1);
  top: 23%;
}

/*-----------------------------------------------------*/
/* Ingredient search portion of the website: */
.ingredients-container {
  position: relative;
  margin: 0 auto;
  height: 70px;
  width: 80%;
}

.search-bar {
  position: absolute;
  padding: 1em;
  margin: 1em;
  border-radius: 20px;
  border: 2px solid hsl(0, 0%, 50%);
  width: 75vw;
  transform: translateX(-2em);
  z-index: 10;
}

#ingredient-submit {
  position: absolute;
  top: 20px;
  left: 73.5vw;
  z-index: 100;
}

.selected-ingredients {
  position: relative;
  overflow: auto;
  height: 85px;
  width: 70vw;
}

.selected-ingredients-wrapper {
  position: relative;
  float: left;
  width: auto;
  height: 50px;
  top: 5px;
}

.added-ingredient {
  position: relative;
  background-color: hsl(0, 1%, 68%);
  padding: 0.3em 1.5em 0.3em 0.3em;
  margin: 0.5em;
  border-radius: 20px;
}

#remove-ingredient {
  position: absolute;
  transform: translate(-150%, -7%);
}
/*-------------------------------------------------------*/
.btn-container {
  position: relative;
}
.btn {
  background-color: var(--btn);
  color: hsl(0, 0%, 100%);
  box-shadow: 0 8px 6px -6px black;

  border: none;
  margin: 1em;
  padding: 0.5em 1em 0.5em 1em;
}

/*Recipe random view, list view and favourites */
.recipes-container{
  width: 100%;
  height: auto;
}

.random-recipe-generator{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto);
}
.recipe__title {
  position: relative;
  grid-column: 1 / span 2;
  grid-row: 1 / 1;
  justify-self: center;
  font-size: 40px;
  font-weight: 700;
}

#recipe-photo {
  position: relative;
  grid-column: 2 / 1;
  grid-row: 2 / 3;
  justify-self: center;
  border-radius: 20px;
}

.recipe__ingredients{
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  /* justify-self: center; */
}

.ingredient{
  list-style-type: '🍴';
  margin: 8px;
}

.tutorial{
  position: relative;
  grid-column: 2/ 2;
  grid-row: 4 / 4;
  /* justify-self: center; */
}

/*Footer*/
.about-app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3em;
  padding-bottom: 2em;
}

/* MEDIA QUERIES:*/
@media only screen and (max-width: 600px) {
  #ingredient-submit {
    left: 70vw;
  }

  .added-ingredient {
    padding: none;
    font-size: 14px;
    margin: 0.2em;
  }

  #remove-ingredient {
    transform: translate(-120%, -4%);
  }

  .btn-container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
  }

  .btn {
    position: relative;
    align-items: center;
    margin: 15px;
  }
}

.hidden {
  visibility: hidden;
  margin: 0;
}