:root {
  --btn: #92c24c;
  --btn-active: #427f3c;
  --main: #fffadd;
  --header-footer: #659dbd;
  --custom-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

body {
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
  font-size: 16px;

  height: 100%;
  margin: auto;
  background-color: var(--main);
  overflow-x: hidden;
}

.app-container {
  display: flex;
  align-items: center;
  flex-flow: column;
}

/* Header content: */
.header-container {
  position: relative;
  margin: 0 auto;
  height: 100px;
  width: 300px;
  padding-top: 60px;
}

.site-title {
  position: absolute;
  font-family: 'Yellowtail', cursive;
  text-align: center;
  font-size: 92px;
}

#chef-hat {
  position: absolute;
  height: 70px;
  width: 60px;
  transform: scaleX(-1);
  top: 23%;
}

/*-----------------------------------------------------*/
/* Ingredient search portion of the website: */
.ingredients-container {
  position: relative;
  height: 70px;
  width: 80%;
}

.search-bar {
  position: relative;
  padding: 1em;
  margin-top: 1em;
  border-radius: 20px;
  border: 2px solid hsl(0, 0%, 50%);
  width: 95%;
  z-index: 10;

  left: 50%;
  transform: translateX(-50%);
}

#ingredient-submit {
  position: absolute;
  top: 21px;
  right: 2%;
  z-index: 100;
}

.selected-ingredients {
  position: relative;
  overflow: auto;
  height: 85px;
  width: 70vw;
}

.ingredients-wrapper {
  position: relative;
  float: left;
  width: auto;
  height: 50px;
  top: 5px;
}

.added-ingredient {
  position: relative;
  background-color: hsl(0, 1%, 68%);
  padding: 0.3em 1.5em 0.3em 0.3em;
  margin: 0.5em;
  border-radius: 20px;
  box-shadow: var(--custom-shadow)
}

.remove-ingredient {
  position: absolute;
  transform: translate(-150%, 5%);
  
}
/*-------------------------------------------------------*/
.btn-container {
  position: relative;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 30%;
  color: 00000;
  cursor: pointer;
  border: 2px solid var(--btn);
  background: var(--main);
  margin: 1.2em;
  padding: 10px 35px 10px 35px;
  border-radius: 20px;
}
.btn:hover {
  color: #000;
  background-color: var(--btn);
  transition: all 0.15s;
}

.btn:active {
  background-color: var(--btn-active);
  border: 2px solid var(--btn-active);
}

/*Recipe random view, list view and favourites */

.recipes-container {
  display: relative;
}

.random-recipe-generator {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(4, auto);
  height: auto;
}

.recipe__title{
  position: relative;
  grid-column: 1 / span 2;
  grid-row: 1 / 1;
  justify-self: center;
  font-size: 40px;
  font-weight: 700;
}

#recipe-photo {
  position: relative;
  margin-top: 2em;

  grid-column: 2 / 1;
  grid-row: 2 / 3;
  justify-self: center;

  border-radius: 20px;
  box-shadow: var(--custom-shadow);
}

.recipe__ingredients {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  margin-top: 1em;
}

.ingredient {
  list-style-type: '🍴';
  margin: 8px;
}

.tutorial {
  position: relative;
  grid-column: 2/ 2;
  grid-row: 4 / 4;
  margin-left: 2.2em;
}

.recipe-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.card {
  position: relative;
  margin: 0.9em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  overflow-wrap: break-word;
  border-radius: 20px;
  width: 300px;
  text-align: center;
}

.card > img {
  border-radius: 20px 20px 0 0;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}

/*Footer*/
.about-app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 3em;
  padding-bottom: 1em;
}
 

/* MEDIA QUERIES:*/
@media only screen and (max-width: 600px) {
  /* #ingredient-submit {
    left: 70vw;
  } */

  .added-ingredient {
    padding: none;
    font-size: 14px;
    margin: 0.2em;
  }

  #remove-ingredient {
    transform: translate(-120%, 8%);
  }

  .btn-container {
    display: flex;
    flex-direction: column-reverse;
  }

  .btn {
    position: relative;
    align-items: center;
    margin: 0.7em;
    width: 85%;
  }

  .random-recipe-generator {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(4, auto);
  }

  .recipe__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
  }

  #recipe-photo {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .recipe__ingredients {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
  }

  .tutorial {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: center;
  }
}

.hidden {
  visibility: hidden;
  position: absolute;
}